html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,*::after,*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 1;
	font-weight: 400;
	color: #000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	font-family: inherit;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.btn {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #ee3643;
	border: none;
	border-radius: 1px;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:focus {
	background-color: #ba2732;
}

.res-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.title {
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.header {
	background-color: #f3f7f9;
}

.header-top {
	background-color: #293449;
}

.header-bookmark,
.header-cart,
.header-btn {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.header-btn-offer {
	background-color: #63a63e;
}

.header-btn-offer:hover {
	background-color: #5fbb2d;
}

.header-btn-offer:focus {
	background-color: #518534;
	opacity: 0.5;
}

.header-bookmark:focus,
.header-cart:focus {
	opacity: 0.6;
}

.logo {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	background-color: #ee3643;

	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
	background-color: #ba2732;
}

.search {
	background-color: #293449;

	border: none;
}

.search::-webkit-input-placeholder {
	color: #ffffff;
}

.search::-moz-placeholder  {
	color: #ffffff;
}

.search:-moz-placeholder {
	color: #ffffff;
}

.search:-ms-input-placeholder {
	color: #ffffff;
}

.search:hover::-webkit-input-placeholder {
	background-color: #212a3a;
}

.search:hover::-moz-placeholder  {
	background-color: #212a3a;
}

.search:hover:-moz-placeholder {
	background-color: #212a3a;
}

.search:hover:-ms-input-placeholder {
	background-color: #212a3a;
}

.search:focus::-webkit-input-placeholder {
	background-color: #ffffff;
	color: #000000;
}

.search:focus::-moz-placeholder  {
	background-color: #ffffff;
	color: #000000;
}

.search:focus:-moz-placeholder {
	background-color: #ffffff;
	color: #000000;
}

.search:focus:-ms-input-placeholder {
	background-color: #ffffff;
	color: #000000;
}

.header-title {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;

	color: #ee3643;
}

.phone {
	font-size: 21px;
	line-height: 21px;

	color: #ee3643;

	border: 3px solid #ffffff;
}

.address {
	font-size: 14px;
	line-height: 24px;

	color: #32425c;
}

.header-user-link {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.header-user-link:hover {
	color: #ee3643;
}

.header-user-link:focus {
	color: #cacaca;
}

.user-name {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.user-link {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-name:focus {
	color: #cacaca;
}

.user-link:hover {
	color: #ee3643;
	text-decoration: none;
}

.user-link:focus {
	color: #cacaca;
	text-decoration: none;
}

.header-menu {
	background-color: #32425c;

	box-shadow: inset 0 -5px 0 #293449;
}

.header-menu-link {
	font-size: 17px;
	line-height: 17px;
	color: #fff;
}

.header-menu-link:hover {
	background-color: #293449;
}

.header-menu-link:focus {
	color: #a1a4a8;
}

.advantages-list h3 {
	font-size: 24px;
	line-height: 30px;
}

.advantages-item:first-child,
.advantages-item:last-child {
	background-color: #ffbf47;
}

.advantages-item:nth-child(2) {
	background-color: #3bbce3;
}

.advantages-item:nth-child(3) {
	background-color: #dc91d8;
}

.advantages-item:nth-child(4) {
	background-color: #8ed78f;
}

.btn-advantages {
	background-color: rgba(0, 0, 0, 0.1);
}

.btn-advantages:hover {
	background-color: #cccccc;
}

.btn-advantages:focus {
	background-color: #b2b2b2;
}

.advantages-list .new {
	background-image: url("../img/new flag.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.slider p {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.caption {
	background-color: #f9f5f0;
}

.caption .title {
	color: #32425c;
}

.title-product,
.catalog-price-del,
.catalog-price {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	color: #000;
}

.title-product {
	font-size: 18px;
	line-height: 20px;
}

.catalog-price-del {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.catalog-price {
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	background-color: #ee3643;
}

.catalog-item {
	border: 1px solid #eaeaea;
}

.catalog-item:hover {
	box-shadow: 10px 10px 25px 0px rgba(41, 52, 73, 0.5)
}

.top-list .new,
.catalog-list .new {
	background-image: url("../img/new flag.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.item-actions-buy,
.item-actions-bookmarks {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	border-radius: 1px;
}

.item-actions-buy {
	color: #ffffff;

	background-color: #63a63e;

	box-shadow: inset 0 -3px 0 #367315;
}

.item-actions-buy:hover {
	background-color: #5fbb2d;
}

.item-actions-buy:focus {
	background-color: #518534;
}

.item-actions-bookmarks {
	color: #32425c;

	border: 3px solid #63a63e;
}

.item-actions-bookmarks:hover {
	border: 3px solid #32425c;
}

.item-actions-bookmarks:focus {
	color: #c1c6ce;

	border: 3px solid #c1c6ce;
}

.manufacturers-item {
	border: 1px solid #eaeaea;
}

.manufacturers-item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-item:focus {
	box-shadow: 4px 4px 10px 0px rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.serciсes {
	color: #000000;

	background-color: #f4f7f9;
}

.serciсes h2 {
	color: #000000;
}

.serciсes p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.serciсes-nav {
	font-size: 21px;
	line-height: 30px;

	background-color: #32425c;

	list-style: none;
}

.serciсes-nav a {
	color: #ffffff;
}

.serciсes-nav li:hover {
	background-color: #293449;
}

.serciсes-nav .current {
	color: #32425c;

	background-color: #ffffff;
}

.services-list {
	list-style: none;
}

.services-list h3 {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	font-weight: 400;
}

.about-text {
	font-family: "PT Sans", Arial, sans-serif;
	line-height: 24px;
}

.example {
	font-size: 18px;
	line-height: 20px;
}

.sup-footer {
	background-color: #32425c;
}

.menu-top-link,
.menu-bottom-link {
	font-size: 18px;
	line-height: 24px;
}

.menu-top-link:hover,
.menu-bottom-link:hover {
	text-decoration: underline;
}

.menu-top-link:focus,
.menu-bottom-link:focus {
	opacity: 0.5;
}

.menu-top-link {
	color: #fff;
}

.menu-bottom-link {
	color: #ffd180;
}

.sup-footer-address,
.sup-footer-phone {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer {
	background-color: #293449;
}

.footer-copyright,
.footer-caption,
.footer-link {
	font-size: 16px;
}

.footer-copyright,
.footer-caption {
	color: #fff;
}

.footer-link {
	color: #ffd180;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-link:focus{
	color: #ee3643;
	text-decoration: none;
}

.social-button {
	background-color: #212a3a;
	border-radius: 30px;
}

.social-button:hover,
.social-button:focus {
	background-color: #ee3643;
}

.modal {
	font-size: 18px;
	color: #000000;

	border-top: 7px solid #ff5257;

	box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.25)
}

.font-btn {
	background-color: #f4f4f4;
}

.login-form input,
.login-form textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;

	border: 2px solid #dee3e4;
	border-radius: 1px;
}

.breadcrumbs {
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;

	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.main-filters,
.sort {
	font-family: "PT Sans", Arial, sans-serif;
}

.main-filters h2,
.sort h2 {
	font-weight: 400;
}

.main-filters h2,
.sort h2,
.sort {
	background-color: #f7f3ec;
}

.res-border {
	border: none;
}

.filter-caption {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

/* Смотри урок по декоративным элементам и там возьми слайдер */
 .slider-price,
.min-price,
.max-price {
	background-color: #f7f3ec;
}

.min-price,
.max-price {
	border: none;
} 

.filter-option {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.filter-option:disabled {
	opacity: 0.6;
}

.btn-filter {
	font-family: "PT Sans", Arial, sans-serif;

	background-color: #ffffff;

	border: 1px solid #e5e5e5;
}

.btn-filter:hover {
	background-color: #ffffff;

	border: 1px solid #bdc6ca;
}

.btn-filter:focus {
	background-color: #ffffff;

	border: 1px solid #ee3643;
}

.sort-link,
.sort-link-current {
	text-transform: uppercase;
}

.sort-link {
	color: #c7c7c7;

	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #ee3643;
}

.sort-link:hover {
	color: #000000;

	text-decoration: underline;
	text-decoration-color: #ee3643;
}

.sort-link-current {
	color: #ee3643;

	border: none;
}

.pagination-list {
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	list-style: none;
}

.pagination-item {
	border: 1px solid #e5e5e5;
	border-radius: 1px;
}

.pagination-item-current a {
	color: #ffffff;
}

.pagination-item-current {
	background-color: #ee3643;
}

.pagination-item:hover {
	border: 1px solid #bdc6ca;
}

.pagination-item:focus {
	border: 1px solid #ee3643;
}

.about-perf {
	background-color: #f2f6f8;
}

.about-perf p {
	font-family: "PT Sans", Arial, sans-serif;
	line-height: 24px;
}

.modal-cart p {
	font-size: 30px;
	line-height: 30px;
}

.btn-modal-close {
	color: #000000;

	background-color: #ffffff;

}

.font-btns {
	background-color: #f1f1f1;
}

.btn-modal-close:hover {
	color: #ee3643;

	background-color: #ffffff;
}

.btn-modal-close:focus {
	color: #cacaca;

	background-color: #ffffff;
}