html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,*::after,*::before {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	position: relative;

	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 1;
	font-weight: 400;
	color: #000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	font-family: inherit;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #ee3643;
	border: none;
	border-radius: 4px;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:focus {
	background-color: #ba2732;
}

.res-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.modal-error {
	-webkit-animation: shake 0.6s ease;
	        animation: shake 0.6s ease;
}

/*-------ШАПКА------*/

.header {
	background-color: #f3f7f9;

	padding-bottom: 60px;
}

.header-top {
	background-color: #293449;

	min-height: 42px;
	max-height: 42px;

	margin-bottom: 47px;
}

.header-top .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header-order {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.header-bookmark,
.header-cart,
.header-btn {
	display: inline-block;
	vertical-align: top;

	width: 150px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.header-bookmark {
	position: relative;

	padding: 11px 28px 11px 44px;
}

.header-bookmark::before {
	position: absolute;
	top: 12px;
	left: 17px;

	content: "";

	width: 14px;
	height: 16px;
	
	background-image: url(../img/icon-bookmark.svg);	
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.5;
}

.header-bookmark:hover,
.header-cart:hover {
	background-color: #212a3a;
}

.header-bookmark:focus,
.header-cart:focus {
	background-color: #161d29;

	opacity: 0.5;
}

.header-bookmark:hover::before,
.header-cart:hover::before {
	opacity: 1;
}

.header-bookmark-span,
.header-cart-span {
	padding-left: 5px;
}

.header-cart {
	position: relative;

	padding: 11px 31px 11px 50px;
}

.header-cart::before {
	position: absolute;
	top: 12px;
	left: 18px;

	content: "";

	width: 15px;
	height: 15px;
	
	background-image: url(../img/cart-icon.svg);	
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.5;
}

.header-btn {
	padding: 12px 22px 12px 20px;
}

.header-btn-offer {
	background-color: #63a63e;
}

.header-btn-offer:hover {
	background-color: #5fbb2d;
}

.header-btn-offer:focus {
	background-color: #518534;
	opacity: 0.5;
}

.logo {
	background-color: #ee3643;

	-webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);

	        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);

	-webkit-transition: all 0.3s ease;

	-o-transition: all 0.3s ease;

	transition: all 0.3s ease;
}

.header-logo {
	display: inline-block;
	vertical-align: top;

	width: 220px;

	padding: 12px 57px 17px 55px;
}

.logo:hover,
.logo:focus {
	background-color: #ba2732;
}

.header-search {
	position: relative;
	width: 270px;
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search-input {
	display: block;

	width: 100%;
	min-height: 42px;

	font-size: 17px;
	line-height: 18px;
	color: #fff;

	background-color: transparent;

	padding: 10px 5px 10px 49px;

	border: none;
	outline: none;
}

.header-search-label {
	position: absolute;

	top: 12px;
	left: 17px;

	width: 10px;
	height: 10px;

	color: rgba(255, 255, 255, 0.3);

	-webkit-transition: all 0.3s ease;

	-o-transition: all 0.3s ease;

	transition: all 0.3s ease;
}

.header-search-label svg {
	fill: currentColor;
}

.header-search-input:focus {
	background-color: #fff;

	color: #000;
}

.header-search-input:hover~.header-search-label {
	color: #fff;
}

.header-search-input:focus~.header-search-label {
	color: #ee3643;
}

.header-search-input::-webkit-input-placeholder {
	color: #ffffff;
}

.header-search-input::-moz-placeholder  {
	color: #ffffff;
}

.header-search-input:-moz-placeholder {
	color: #ffffff;
}

.header-search-input:-ms-input-placeholder {
	color: #ffffff;
}

.header-search-input:hover::-webkit-input-placeholder {
	background-color: #212a3a;
}

.header-search-input:hover::-moz-placeholder  {
	background-color: #212a3a;
}

.header-search-input:hover:-moz-placeholder {
	background-color: #212a3a;
}

.header-search-input:hover:-ms-input-placeholder {
	background-color: #212a3a;
}

.header-search-input:focus::-webkit-input-placeholder {
	background-color: #ffffff;
	color: #000000;
}

.header-search-input:focus::-moz-placeholder  {
	background-color: #ffffff;
	color: #000000;
}

.header-search-input:focus:-moz-placeholder {
	background-color: #ffffff;
	color: #000000;
}

.header-search-input:focus:-ms-input-placeholder {
	background-color: #ffffff;
	color: #000000;
}

/*------ШАПКА - СРЕДН.ЧАСТЬ------*/

.header-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header-title {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;

	color: #ee3643;

	width: 310px;

	padding-left: 53px;
	padding-right: 50px;
	margin: 0;
}

.header-title-span {
	display: block;
}

.contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 300px;
}

.phone {
	position: relative;

	font-size: 21px;
	line-height: 21px;

	color: #ee3643;

	border: 3px solid #ffffff;

	padding: 9px 49px 9px 71px;
}

.phone::before {
	position: absolute;
	top: 10px;
	left: 13px;

	content: "";

	width: 19px;
	height: 19px;
	
	background-image: url(../img/icon-phone.svg);	
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.5;
}

.address {
	font-size: 14px;
	line-height: 24px;

	color: #32425c;

	margin: 0;
	padding-left: 10px;
	padding-top: 1px;
}

.header-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 300px;

	padding-left: 20px;
}

.header-user li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-login {
	position: relative;

	padding: 12px 27px 12px 48px;
	margin-right: 10px;
}

.header-login svg {
	position: absolute;

	top: 13px;
	left: 14px;

	fill: #c5c5c5;
}

.header-login:hover svg {
	fill: #32425c;
}

.header-reg {
	padding: 12px 20px 12px 25px;
}

.header-login,
.header-reg {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	max-height: 45px;

	background-color: #ffffff;
}

.header-login:hover,
.header-reg:hover {
	color: #ee3643;
}

.header-login:focus,
.header-reg:focus,
.header-login:focus svg
 {
	color: #cacaca;

	fill: #c5c5c5;
}

.header-user-log {
	min-width: 300px;
}

.user-name {
	position: relative;

	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;

	padding: 12px 9px 12px 47px;
}

.user-name svg {
	position: absolute;

	top: 13px;
	left: 13px;

	fill: #c5c5c5;
}

.user-name:hover svg,
.user-logout svg:hover {
	fill: #32425c;
}

.user-name:focus,
.user-name:focus svg {
	color: #c5c5c5;
	fill: #c5c5c5;
}

.user-logout:focus svg {
	fill: #c5c5c5;
}

.profile {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.user-logout svg {
	position: absolute;

	top: 13px;
	right: 10px;

	fill: #c5c5c5;
}

.user-logout {
	content: "";

	min-width: 60px;
	min-height: 45px;

	background-color: #fff;
}

.user-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	position: relative;

	padding-left: 19px;
	margin-top: 6px;
}

.user-link {
	position: relative;

	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-li:nth-child(1) .user-link {
	padding-right: 18px;
	margin-right: 14px;
}

.user-li:nth-child(1) .user-link:after {
	position: absolute;
	top: 40%;
	right: 0;

	content: '';

	width: 4px;
	height: 5px;

	border-radius: 50%;

	background-color: #32425c;
}

.user-name:focus {
	color: #cacaca;
}

.user-link:hover {
	color: #ee3643;
	text-decoration: none;
}

.user-link:focus {
	color: #cacaca;
	text-decoration: none;
}

/*------ШАПКА-НАВИГАЦИЯ------*/

.header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 940px;
	min-height: 60px;

	background-color: #32425c;

	-webkit-box-shadow: inset 0 -5px 0 #293449;

	        box-shadow: inset 0 -5px 0 #293449;

	margin-top: 40px;
	padding-left: 21px;
	padding-right: 21px;
}

.header-menu-link {
	display: block;

	min-height: 60px;

	font-size: 17px;
	line-height: 17px;
	color: #fff;

	margin: 0;
	padding: 19px 30px 19px 30px;
}

.header-menu-link:hover {
	background-color: #293449;
}

.header-menu-link:focus {
	color: #a1a4a8;
}

/*------ОФФЕР-СЛАЙДЕР------*/

.offer {
	padding-bottom: 53px;
	padding-top: 60px;
}

.advantages-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.advantages-list h3 {
	font-size: 24px;
	line-height: 30px;

	color: #fff;

	margin: 0;
	padding-left: 23px;
	padding-top: 23px;
}

.btn-advantages {
	position: absolute;

	top: 65px;

	width: 135px;

	padding: 10px 24px;
	margin-left: 23px;
}

.advantages-item img {
	position: absolute;

	top: 31px;
	right: 43px;
}

.advantages-item:nth-child(2) img {
	position: absolute;

	top: 31px;
	right: 28px;
}

.advantages-item:nth-child(3) img {
	position: absolute;

	top: 31px;
	right: 31px;
}

.advantages-list .new {
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.advantages-item {
	position: relative;

	min-width: 300px;
	min-height: 123px;
}

.advantages-wrap .advantages-item {
	margin-top: 20px;
}

.advantages-item:first-child,
.advantages-wrap .advantages-item:last-child {
	background-color: #ffbf47;
}

.advantages-wrap .advantages-item:first-child {
	background-color: #8ed78f;
}

.advantages-item:nth-child(2) {
	background-color: #3bbce3;
}

.advantages-item:nth-child(3) {
	background-color: #dc91d8;
}

.btn-advantages {
	background-color: rgba(0, 0, 0, 0.1);
}

.btn-advantages:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn-advantages:focus {
	background-color: rgba(0, 0, 0, 0.3);
}

.advantages-slider {
	position: relative;

	margin-top: 20px;
}

.first,
.second {
	position: relative;
}

.first {
	z-index: 5;
}

.second {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 4;
	opacity: 0;
} 

.caption-slider {
	position: absolute;
}

.btn-slider {
	position: absolute;

	bottom: 22px;
	left: 25px;

	width: 195px;
	max-height: 38px;
	min-height: 38px;

	padding: 12px 45px 10px 49px;
}

.advantages-slider h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	margin: 0;
}

.advantages-slider p {
	font-size: 18px;
	line-height: 24px;
	color: #fff;

	padding-left: 25px;
	margin: 0;
}

.slider-control {
	position: absolute;

	z-index: 6;

	top: 114px;
	left: 21px;
}

.prev,
.next {
	border: none;
	background-color: transparent;

	cursor: pointer;
}

.next {
	margin-left: 515px;
}

.slider-dots {
	position: absolute;

	bottom: 35px;
	left: 295px;

	z-index: 6;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
}

.dot-control {
	width: 10px;
	height: 10px;

	margin-right: 10px;

	background-color: #fff;

	border-radius: 50%;
}

.dot-control-current {
	width: 10px;
	height: 10px;

	background-color: #ee3643;

	border: 2px solid #fff;
	border-radius: 50%;

	cursor: pointer;
}

/*------КАРТОЧКИ ТОВАРОВ-ЗАГОЛОВОК------*/

.caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	padding: 25px 24px 26px 28px;
	margin-bottom: 20px;

	background-color: #f9f5f0;
}

.caption .title {
	color: #32425c;

	margin: 0;
}

.btn-caption {
	width: 253px;
	min-height: 38px;

	padding: 12px 55px;
}

/*------КАРТОЧКИ ТОВАРОВ------*/

.top-list,
.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.catalog-item {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	width: 220px;
	height: 100%;

	text-align: center;

	margin-bottom: 20px;
	margin-right: 20px;

	border: 1px solid #eaeaea;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	background-color: #fff;
}

.top-list .catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-list .catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	-webkit-box-shadow: 10px 10px 25px 0px rgba(41, 52, 73, 0.5);
	        box-shadow: 10px 10px 25px 0px rgba(41, 52, 73, 0.5)
}

.catalog-item:hover .item-actions {
	opacity: 1;
	z-index: 2;
}

.catalog-item-header {
	position: relative;

	width: 218px;
	height: 164px;

	overflow: hidden;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.catalog-item-price {
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.title-product {
	display: block;
	/*flex-wrap: wrap;*/

	font-size: 18px;
	line-height: 20px;

	padding: 0 14px;
	margin: 0;
	margin-bottom: -2px;
}

.title-product,
.catalog-price-del,
.catalog-price {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	color: #000;
}

.catalog-price-del {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
	text-align: center;

	height: 18px;

	padding: 0;
	margin: 0;
}

.catalog-price {
	position: relative;

	display: inline-block;
	vertical-align: baseline;

	width: 120px;

	font-size: 17px;
	line-height: 18px;
	color: #fff;

	background-color: #ee3643;

	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 10px 14px 10px 29px;
}

.catalog-price::after {
	content: "";

	position: absolute;
	top: 0;
	right: -40px;

	border: 19px solid transparent;
	border-left: 21px solid #ee3643;
	display: block;
	width: 0;
	height: 0;
}

.item-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 1px;
	min-height: 158px;

	background-color: #fff;

	opacity: 0;
	z-index: -1;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.item-actions-buy,
.item-actions-bookmarks {
	display: block;

	width: 135px;
	min-height: 38px;

	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	border-radius: 4px;

	padding-top: 10px;
	padding-bottom: 10px;
}

.item-actions-bookmarks {
	padding-top: 7px;
	padding-bottom: 7px;
}

.item-actions-buy {
	position: relative;
	color: #ffffff;

	background-color: #63a63e;

	-webkit-box-shadow: inset 0 -3px 0 #367315;

	        box-shadow: inset 0 -3px 0 #367315;

	margin-bottom: 7px;
}

.item-actions-buy::before {
	position: absolute;
	top: 11px;
	left: 12px;

	content: "";

	width: 15px;
	height: 15px;

	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.5;
}

.item-actions-buy:hover::before,
.item-actions-buy:focus::before {
	opacity: 1;
}

.item-actions-buy:hover {
	background-color: #5fbb2d;
}

.item-actions-buy:focus {
	background-color: #518534;
}

.item-actions-bookmarks {
	color: #32425c;

	border: 3px solid #63a63e;
}

.item-actions-bookmarks:hover {
	border: 3px solid #32425c;
}

.item-actions-bookmarks:focus {
	color: #c1c6ce;

	border: 3px solid #c1c6ce;
}

.catalog-item-flag {
	position: absolute;
	top: 0;
	right: 0;

	z-index: 6;
}

/*------ПРОИЗВОДИТЕЛИ------*/

.manufacturers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-bottom: 65px;
}

.manufacturers-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	border: 1px solid #eaeaea;

	width: 220px;
	height: 1px;
	min-height: 145px;

	margin-bottom: 20px;
	margin-right: 20px;
}

.manufactures-wrap:nth-child(4n) .manufacturers-item {
	margin-right: 0;
}

.manufacturers-item:hover {
	-webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
	        box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-item:focus {
	-webkit-box-shadow: 4px 4px 10px 0px rgba(41, 52, 73, 0.5);
	        box-shadow: 4px 4px 10px 0px rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

/*------СЕРВИСЫ------*/

.serviсes {
	color: #000000;

	background-color: #f4f7f9;

	min-height: 522px;

	padding-top: 62px;
}

.serviсes h2 {
	color: #000000;

	margin: 0;
	margin-bottom: 28px;
}

.serviсes p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

	margin: 0;
}

.services-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	min-height: 324px;

	margin-top: 30px;
}

.services-tabs-control {
	position: relative;

	height: 186px;

	font-size: 21px;
	line-height: 30px;

	margin-top: 34px;
	margin-bottom: 82px;

	background-color: #32425c;
}

.services-tabs-control::after {
	position: absolute;
	top: -42px;
	right: 0;

	content: "";

	width: 10px;
	height: 272px;

	background-image: url(../img/shadow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-tabs-control-item {
	display: block;

	width: 240px;
	min-height: 64px;

	padding: 16px 22px;

	background-color: #32425c;

	border: none;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;

	color: #ffffff;
	text-align: left;
}

.services-tabs-control-item:hover {
	background-color: #293449;
}

.services-tabs-control .current {
	color: #32425c;

	border: none;

	background-color: #ffffff;
}

.services-tabs-content-list {
	position: relative;
	width: 100%;
}

.services-tabs-content-list h3 {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	font-weight: 400;
	text-transform: uppercase;

	margin: 0;
	margin-bottom: 24px;
}

.services-tabs-content-list .current {
	z-index: 3;
	opacity: 1;
}

.services-tabs-content-item {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
	z-index: -1;

	width: 100%;
	height: 100%;

	padding-top: 38px;
	padding-left: 80px;
}

.services-tabs-content-item p {
	width: 379px;

	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.services-tabs-content-span {
	display: block;
}

.servises-btn {
	padding: 10px 44px;
	width: 195px;
}

.services-tabs-content-item:first-child {
	background-image: url(../img/delivery.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.services-tabs-content-item:nth-child(2) {
	background-image: url(../img/garanty.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.services-tabs-content-item:last-child {
	background-image: url(../img/credit.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}


/*------ОПИСАНИЕ------*/

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding-bottom: 86px;
	padding-top: 80px;
}

.about .title {
	margin: 0;
}

.about-info {
	width: 540px;
}

.about-contacts {
	width: 300px;
}

.about-text {
	font-family: "PT Sans", Arial, sans-serif;
	line-height: 24px;
}

.about-info-text {
	margin: 25px 0;
}

.about-contacts-text {
	margin: 25px 0 32px 0;
}

.about-text:nth-child(3) {
	margin-bottom: 20px;
}

.example-list {
	position: relative;
}

.example-item {
	position: relative;

	font-size: 18px;
	line-height: 20px;

	padding-left: 36px;
	margin-bottom: 19px;
}

.example-item:last-child {
	margin-bottom: 37px;
}

.example-item::before {
	position: absolute;
	left: 0;
	top: 7px;

	content: "";

	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.about-btn {
	display: block;

	padding: 11px 41px;

	width: 220px;
	min-height: 38px;

	cursor: pointer;
}

.about-contacts .about-text {
	width: 220px;
}

.about-contacts-img {
	margin-bottom: 37px;
}

.about-contacts .about-btn {
	width: 100%;
}

/*------ВЕРХНИЙ ФУТЕР------*/

.sup-footer {
	background-color: #32425c;

	min-height: 193px;
}

.sup-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.sup-footer-wrap {
	margin-right: 50px;
}

.sup-footer-logo {
	display: inline-block;
	vertical-align: top;

	width: 220px;
	min-height: 68px;
	max-height: 68px;

	padding: 20px 41px;
}

.sup-footer-address {
	width: 340px;

	padding-left: 3px;
	margin: 0;
	margin-top: 30px;
}

.sup-footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 550px;

	margin-top: 40px;
}

.menu-bottom {
	width: 524px;

	margin-left: 26px;
	margin-top: 35px;
}

.menu-top-link,
.menu-bottom-link {
	font-size: 18px;
	line-height: 24px;
}

.menu-top-link:hover,
.menu-bottom-link:hover {
	text-decoration: underline;
}

.menu-top-link:focus,
.menu-bottom-link:focus {
	opacity: 0.5;
}

.menu-top-link {
	color: #fff;
}

.menu-bottom-link {
	color: #ffd180;
}

.sup-footer-address,
.sup-footer-phone {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

/*------ФУТЕР------*/

.footer {
	background-color: #293449;
}

.footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	min-height: 107px;
}

.footer-copyright {
	margin: 0;
	margin-right: 50px;

	width: 230px;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 132px;
}

.footer-copyright,
.footer-caption,
.footer-link {
	font-size: 16px;
}

.footer-copyright,
.footer-caption {
	color: #fff;
}

.footer-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer-caption:first-child {
	width: 140px;

	margin-right: 53px;
}

.footer-caption:last-child {
	width: 96px;

	margin-right: 15px;
}

.footer-link {
	color: #ffd180;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-link:focus{
	color: #ee3643;
	text-decoration: none;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	background-color: #212a3a;
	border-radius: 50%;

	width: 42px;
	height: 42px;
}

.social-button:hover,
.social-button:focus {
	background-color: #ee3643;
}

/*------МОДАЛЬНЫЕ ОКНА ГЛ.СТР------*/

@-webkit-keyframes bounceInUp {
	0% {-webkit-transform: translateY(500px);transform: translateY(500px);}
	60% {-webkit-transform: translateY(-20px);transform: translateY(-20px);}	
	75% {-webkit-transform: translateY(10px);transform: translateY(10px);}
	90% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}
}

@keyframes bounceInUp {
	0% {-webkit-transform: translateY(500px);transform: translateY(500px);}
	60% {-webkit-transform: translateY(-20px);transform: translateY(-20px);}	
	75% {-webkit-transform: translateY(10px);transform: translateY(10px);}
	90% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}
}

.modal-animation {
	-webkit-animation: bounceInUp 0.6s ease;
	        animation: bounceInUp 0.6s ease;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
	-webkit-animation: shake 0.6s ease;
	        animation: shake 0.6s ease;
}

.modal {
	font-size: 18px;
	color: #000000;

	border-top: 7px solid #ff5257;

	-webkit-box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.25);

	        box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.25);

	z-index: 8;
}

.modal-login {
	display: block;

	position: absolute;
	bottom: 200px;
	left: 50%;

	width: 620px;
	
	margin-left: -310px;

	background-color: #fff;
}

.login-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	max-height: 318px;

	padding: 50px 80px 37px 80px;
}

.login-form-item .name,
.login-form-item .e-mail {
	width: 220px;

	margin-bottom: 20px;
}

.login-form-item .name,
.login-form-item .e-mail,
.login-form-item .message {
	padding: 8px 14px;
	margin-top: 10px;

	border-radius: 2px;
}

.login-form-item {
	margin: 0;
}

.login-form-p {
	width: 220px;
}

.login-form-item .message {
	width: 460px;
	height: 114px;

	resize: none;
}

.font-btn {
	background-color: #f4f4f4;

	padding: 37px 80px;
}

.btn-submit {
	width: 100%;

	padding: 10px 0;
}

.login-form .name,
.login-form .e-mail,
.login-form .message {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;

	border: 2px solid #dee3e4;
	border-radius: 1px;
}

.login-form-item .name:focus,
.login-form-item .e-mail:focus,
.login-form-item .message:focus {
	outline: 2px solid #63a63e;
}

.modal-map {
	display: block;

	position: absolute;
	bottom: 350px;
	left: 50%;

	margin-left: -470px;

	width: 940px;

	z-index: 8;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;

	width: 21px;
	height: 21px;
	
	border: none;
	background: none;
	background-image: url(../img/modal-close.png);
	background-repeat: no-repeat;
	background-position: 0 0;

	cursor: pointer;
}

.modal-map .modal-close {
	top: 30px;
	right: 30px;
}

.modal-map iframe {
	width: 940px;
	height: 446px;

	border: 0;
}

/*------ХЛЕБНЫЕ КРОШКИ------*/

.header-catalog {
	margin-bottom: 23px;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;

	list-style: none;

	margin-bottom: 23px;
}

.breadcrumbs-link-a {
	display: block;

	color: #000000;

	margin-top: 2px;
}

.breadcrumbs-link {
	position: relative;

	margin-right: 40px;
}

.breadcrumbs-link-a::before {
	position: absolute;
	top: 0;
	left: -22px;

	content: "";

	width: 8px;
	height: 12px;

	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
	background-position: center;

}

/*------ЗАГОЛОВОК ГЛ.КОНТЕНТА------*/

.page-caption {
	margin-bottom: 20px;
}

.page-title {
	color: #32425c;

	background-color: #f2f6f8;

	padding: 28px;
	margin: 0;
}

/*------СОРТИРОВКА------*/

.catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-bottom: 60px;
}

.main-filters {
	width: 220px;
	margin-right: 20px;
}

.main-catalog {
	width: 700px;
}

.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-bottom: 20px;
	padding: 9px 18px;
}

.main-filters-title {
	padding: 10px 18px;
}

.main-filters,
.sort {
	font-family: "PT Sans", Arial, sans-serif;
}

.main-filters-title,
.sort-title {
	font-weight: 400;
	text-transform: uppercase;

	margin: 0;
}

.main-filters-title,
.sort {
	border-radius: 5px;
}

.main-filters-title,
.sort-title,
.sort {
	font-size: 13px;
	line-height: 18px;

	background-color: #f7f3ec;
}

.sort-title {
	margin-right: 139px;
}

.sort-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 443px;
}

.sort-link,
.sort-link-current {
	text-transform: uppercase;
}

.sort-link {
	color: #c7c7c7;

	max-height: 18px;

	border-bottom: 1px dashed #ee3643;
}

.sort-link:hover {
	color: #000000;

	border-bottom: 1px solid #ee3643;
}

.sort-link-current {
	color: #ee3643;

	border: none;
}

.sort-link:nth-child(2) {
	margin-left: 70px;
}

.sort-link:nth-child(3) {
	margin-left: 65px;
}

.sort-link:last-child {
	margin-top: 2px;
	margin-left: 45px;

	border-bottom: none;
}

.sort-svg:last-child {
	margin-left: 18px;
}

.sort-svg {
	fill: #c5c5c5;
}

.sort-svg:hover {
	fill: #231f20;
}

.sort-svg-current {
	fill: #ee3643;
}

.sort-svg-current:hover {
	fill: #ee3643;
}

/*------ФИЛЬТРЫ------*/

.filter-caption {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;

	padding-top: 12px;
}

.res-border {
	margin: 0;
	padding: 0;

	border: none;
}

.slider-price {
	width: 220px;
	margin-top: 12px;
}

.range-controls {
	position: relative;

	min-height: 80px;

	margin-bottom: 9px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f7f3ec;

	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;

	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	background-color: #ababab;
	border: 8px solid #ffffff;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	        box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;

	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.min-price,
.max-price {
	width: 95px;

	padding: 10px 0;
	
	font-size: 17px;
	text-align: center;
	color: #000;

	border: none;
	border-radius: 5px;
	background: #f7f3ec;
}

.min-price {
	position: relative;

	margin-right: 10px;
}

.max-price {
	margin-left: 10px;
}

.line {
	padding-top: 19px;
    padding-bottom: 19px;
}

.range-filter {
	padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

/*------ЧЕКБОКСЫ И РАДИОБАТТОНЫ------*/

.filter-option {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.check {
	padding-left: 35px;
}

.check-list .filter-option:first-child {
	margin-top: 18px;
}

.check-box {
	position: absolute;

	width: 27px;
	height: 23px;

	margin-left: -35px;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;

	opacity: 0.78;
}

.check-input:checked + .check-box {
	background-image: url(../img/checkbox-on.svg);

	opacity: 0.78;
}

.check-input:hover + .check-box,
.check-input:checked:hover + .check-box {
	opacity: 1;
}

.check-disabled {
	color: rgba(0, 0, 0, 0.4);
	cursor: default;
}

.check-input:disabled + .check-box {
	background-image: url(../img/checkbox-off-dis.svg);
}

.check-input:checked:disabled + .check-box {
	background-image: url(../img/checkbox-on-dis.svg);
}

.check-filter {
	padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.radio-list .filter-option:first-child {
	margin-top: 18px;
}

.radio-label {
	padding-left: 35px;
}

.check,
.radio-label {
	cursor: pointer;
}

.radio-span {
	position: absolute;

	width: 25px;
	height: 25px;

	margin-left: -35px;

	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;

	opacity: 0.78;
}

.radio-input:checked + .radio-span {
	background-image: url(../img/radio-on.svg);

	opacity: 0.78;
}

.radio-input:hover + .radio-span,
.radio-input:checked:hover + .radio-span {
	opacity: 1;
}

.radio-disabled {
	color: rgba(0, 0, 0, 0.4);
	cursor: default;
}

.radio-input:disabled + .radio-span {
	background-image: url(../img/radio-off-dis.svg);
}

.radio-input:checked:disabled + .radio-span {
	background-image: url(../img/radio-on-dis.svg);
}

.radio-filter {
	margin-bottom: 55px;
}

.btn-filter {
	font-family: "PT Sans", Arial, sans-serif;

	color: #000;

	background-color: #ffffff;

	min-height: 38px;

	padding: 10px 39px;

	border: 1px solid #e5e5e5;

	cursor: pointer;
}

.btn-filter:hover {
	background-color: #ffffff;

	border: 1px solid #bdc6ca;
}

.btn-filter:focus {
	background-color: #ffffff;

	border: 1px solid #ee3643;
}

.catalog-list-page {
	margin-bottom: 32px;
}

/*------ПАГИНАЦИЯ------*/

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 285px;

	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	list-style: none;
}

.pagination-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	color: #000;

	border: 1px solid #e5e5e5;
	border-radius: 4px;

	width: 38px;
	height: 38px;
}

.pagination-next {
	width: 140px;
}

.pagination-item:hover {
	border: 1px solid #bdc6ca;
}

.pagination-item:focus {
	color: #ee3643;

	border: 1px solid #ee3643;
}

.pagination-item-current {
	color: #ffffff;

	background-color: #ee3643;

	border: none;
}

.pagination-item-current:hover {
	border: none;
}

/*------ОПИСАНИЕ------*/

.about-perf {
	background-color: #f2f6f8;

	padding-top: 65px;
	padding-bottom: 65px;
}

.title-perf {
	margin: 0;
	margin-bottom: 28px;
}

.about-perf-par {
	font-family: "PT Sans", Arial, sans-serif;
	line-height: 24px;

	margin: 0;
}

/*------МОДАЛЬНОЕ ОКНО КАТАЛОГ------*/

@-webkit-keyframes bounceInDown {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
	60% {-webkit-transform: translateY(20px);transform: translateY(20px);}	
	75% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	90% {-webkit-transform: translateY(5px);transform: translateY(5px);}
}

@keyframes bounceInDown {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
	60% {-webkit-transform: translateY(20px);transform: translateY(20px);}	
	75% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	90% {-webkit-transform: translateY(5px);transform: translateY(5px);}
}

.modal-animation-catalog {
	-webkit-animation: bounceInDown 0.6s ease;
	        animation: bounceInDown 0.6s ease;
}

.modal-cart {
	display: block;

	position: absolute;
	top: 410px;
	left: 50%;

	min-height: 282px;
	width: 620px;

	margin-left: -310px;

	background-color: #fff;
}

.modal-cart-text {
	font-size: 30px;
	line-height: 30px;

	margin-left: 30px;
}

.modal-cart-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin-top: 48px;
	margin-left: 80px;
	margin-bottom: 49px;
}

.btn-modal-close {
	color: #000000;

	background-color: #ffffff;
}

.font-btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	background-color: #f1f1f1;

	padding: 37px 80px;
}

.btn-modal {
	width: 220px;
	max-height: 38px;

	padding: 10px 0;

	cursor: pointer;
}

.btn-modal-close:hover {
	color: #ee3643;

	background-color: #ffffff;
}

.btn-modal-close:focus {
	color: #cacaca;

	background-color: #ffffff;
}

.overlay {
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.5);

	z-index: 7;
}